*{
    margin: 0;
    padding: 0;
    border: 0;
    /* color: white; */
a{
    text-decoration: none;
}
/* even def */
body{
    height: 185vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
header, footer{
    background-color: #1F2937;
}
header{
    display: flex;
     /* did  this to center the nav.logo and nav>ul */
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 200px;
    height: 370px;
    flex-shrink: 0;
}
.container
{
    width: 91%;
    height: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* minimum space between nav and .Intro set by gap */
    gap: 75px;
}

nav{
    /* it is block so takes whole width */
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 75px; */
}
nav>.logo{
    font-size: 24px;
    font-weight: bolder;
    color:#F9FAF8;
    text-decoration: none;
    cursor: pointer;
    
}
nav>ul{
    list-style-type: none;
     /* need to align <li> items(block horizontally so) */
    display: flex;
    gap: 40px;
}
 nav>ul>li>a, .IntroContent>.childtext
 {
    font-size: 17px;
    color:#E5E7EB;
    cursor: pointer;
 }
/* both selector requires separate hover 🤨 */
 nav>.logo:hover, nav>ul>li>a:hover{
    color: #2c838b;
    
   }

 .Intro
 {
     height: 240px;
    display: flex;
    /* margin-bottom: 30px; */
    justify-content: space-between;
    /* gap: 50px; */

 }
 .IntroContent
 {
    width: 462px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
 }
 .IntroContent>.herotext{
    font-size: 48px;
    line-height: 50px;
    /* bcoz browser default line height is 1.2 so more gap between "This" and "Awesome" */
    font-weight: bold;
    color: #F9FAF8;

    /* margin-bottom: 10px;-- replaced by gap in line 79 😅 */
 }

 .IntroContent>img{
    flex-shrink: 0;
    /* image for now wont shrink */
 }
 img{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
 }
 .IntroContent>button,.Section4>.container4>button
 {
    width: 98px;
    height: 28px;
    padding: 0px 5px;
    text-align: center;
    background-color: #254447;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    border: 0.5px solid white;
 }
 .IntroContent>button:hover{
    border: 1px solid white;
 }

 /* Main */
 main
 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    
 }

 
 .Section2
 {  
   
    height: 390px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;

 }
 .Section2>.heading
 {
    font-size: 36px;
    font-weight: bolder;
    width: fit-content;
    margin:0 auto;
 }
 .Section2>.Sec2iiWrapper
 {
    flex: 1;
     height: 20%;
     align-self: center;
     width: 72%;
     min-width: 72%;
     margin: 0 auto;
     margin-top: 30px;
     display: flex;
     justify-content: center;
     align-items: flex-start;
     gap:60px;
    
 }
 .minicontainers{
    width:max-content;
}
.caption
{
    width:160px;
    font-weight: lighter;
}
.minicontainers>img
{
    border-radius: 24px;
}
.minicontainers>.caption
{
    margin-top: 7px;
    height: 80px;
    text-align: center;
}
.Quote
{   height: 350px;
    background-color:#E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../images/QuotefromElonMusk.jpg) no-repeat content-box  center/contain;
    background-color:#E5E7EB;
    opacity: 0.9;
    
}
.QuoteText
{
    font-size: 36px;
    font-weight: 100;
    font-style: italic;

}
.container3
{
    /* background-color: red; */
    width: 50%;
    padding: 10px 10px;
    position: relative;
}
.Writer
{
   position: absolute;
   right: 2%;
   bottom: 2%;
   font-size: 18px;
}

.container4
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Section4
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.container4
{
    margin: 20px 0;
    padding:2.5% 6%;
    width: 690px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    border-radius: 24px;
}
.Section4>.container4>.text 
{
    color: white;
    /* background-color: red; */
}
#text1
{
    font-size: 21px;
    color:white;
    font-weight: bolder;
    line-height: 1.8;
}
.text>strong
{
    font-size: 19px;
    cursor: pointer;
    margin: 0px 3px;
}
.Section4>.container4>button
{
    /* values from previous button */
    background-color: #3882F6;
    background-color: white;
    color: black;
    border: 0.5px solid black;
    width: 110px;
    min-width: 110px;
    /* max-width: fit-content; */
    height: 28px;
    padding-left: 12px;
    padding-right: 12px;
    position: relative;
    /* to make it align with mini texts */
    top: 7px;
}
.Section4>.container4>button:hover{
    border: 1.5px solid black;
}
footer{
    color: white;
    flex-shrink: 0;
    display: flex;
    height: 95px;
    justify-content: center;
    align-items: center;  
}