*{
    margin: 0;
    padding: 0;
    border: 0;
}
a{
    text-decoration: none;
}
/* even def */
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}
header, footer{
    background-color: #1F2937;
}
header{
    display: flex;
     /* did  this to center the nav.logo and nav>ul */
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 200px;
    height: 46%;
}
.container
{
    width: 91%;
    height: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* minimum space between nav and .Intro set by gap */
    gap: 75px;
}

nav{
    /* it is block so takes whole width */
    display: flex;
    /* background-color: red; */
    justify-content: space-between;
    /* margin-bottom: 75px; */
}
nav>.logo{
    font-size: 24px;
    font-weight: bolder;
    color:#F9FAF8;
    text-decoration: none;
}
nav>ul{
    list-style-type: none;
     /* need to align <li> items(block horizontally so) */
    display: flex;
    /* background-color: blue; */
    gap: 40px;
}
 nav>ul>li>a, .IntroContent>.childtext
 {
    font-size: 18px;
    color:#E5E7EB;
 }
 .Intro
 {
    /* background-color: red; */
     height: 200px;
    display: flex;
    /* margin-bottom: 30px; */
    justify-content: space-between;
    /* gap: 50px; */

 }
 .IntroContent
 {
    width: 462px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
 }
 .IntroContent>.herotext{
    font-size: 48px;
    line-height: 50px;
    /* bcoz browser default line height is 1.2 so more gap between "This" and "Awesome" */
    font-weight: bold;
    color: #F9FAF8;
    /* margin-bottom: 10px;-- replaced by gap in line 79 😅 */
 }

 .IntroContent>img{
    flex-shrink: 0;
    /* image for now wont shrink */
 }
 img{
    /* opacity: 0.6; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
 }
 .IntroContent>button
 {
    width: 92px;
    height: 24px;
    text-align: center;
    background-color: #3882F6;
    /* background-color: red; */
    color: white;
    font-weight: bold;
    border-radius: 20px;

 }
 
 
 


/* what will happen when i decrease the size of flex container and there is one flex item centered horizontally and vertically(so i used flex), now there is space on both side , now when i decreased the flex container , the space will be consumed but i dont want space to be consumed alone, nor i want flex item 's width to decrease alone so i set padding as break , in header line 16 
now after this item's(nav's and .Intro) or .container's width needs to be decreased
now .container is doesnt need to be flex parent
its two child <nav> and .Intro are block items so they take the whole width.
so when .container's size is to be decreased, two child item's width also need to be decreased, but before that justify content will be consumed
we
We are done with WIDTH
now about height, 
Width (think from outward to inward) bcoz, width of the child items are based on parent's width if not set

In height, we go with the line height of the child items

Lets add height to <nav> , NO🤨, to div.container , NO🤨, whole header*
we don't want to decrease gap between logo and webpage's end so we set it as box property, margin

In case height of the header changes in responsive website---
SInce i have to create gap between nav and intro content so i have to introduce them as two separate blocks or items
if block- then margin bottom
if flex- then vertical gap((minimum) or margin bottom  between nav and .Intro,  PLUS use Justify-content:flex-start (not cross ), 

QUESTION; when to use gap , when to use margin-bottom, both wont be encroached while shrinking, gap in line 36 vs margin-bottom in line 45?

Lets make .Intro a expandable item and header not expandable nor shrink. For that lets make .container flex parent
/* Line33: to layout flex item previously as block in whole width format, we used flex direction:column 
\Making .Intro grow all


Now inside .Intro

two separate flex items, 1) .IntroContent and 2) img
img wont shrink , so if .Intro needs to shrink, first space of justify content is consumed then width of the .IntroContent... content will grow vertically and consumes vertical justify content space

setting width for .IntroContent
Inside .Intro , justify content : space-between two put .IntroContent and <img> at right and left and space in between
creating gap between img and .IntroContent
downloaded gifs , resized
and put it in <img>
Now Inside .IntroContent

setting .IntroContent and <img> gif on same size(full height) inside .IntroContent

Since I want to put button always on the bottom of the div.Intro(bcoz it levels uo with <img> gif and plus I  want to use gap instead of margin-bottom between herotext and childtext so I set .Intro Content as FLEX 

Background color only applies inside content box, padding is outside content box so some part of button white error,
still white portion left, bcoz html buttons have by default border, correction in line 4
*/ 